* {
  box-sizing: border-box; }

body {
  background-size: cover;
  background-repeat: no-repeat; }

.screenWraper {
  width: 100vw;
  padding-top: 300px; }
  .screenWraper h1 {
    font-family: 'BebasNeueBook';
    font-size: 80px;
    color: #212121; }
  .screenWraper h2 {
    font-family: 'PlayfairDisplay-Italic';
    font-size: 24px;
    color: #212121; }
  .screenWraper p {
    margin-top: 20px;
    font-family: 'ProximaNova-Regular';
    font-size: 14px;
    color: #212121;
    line-height: 20px; }
  .screenWraper .figure {
    width: 400px;
    height: 400px;
    background-size: cover; }
  .screenWraper#first {
    padding-top: 0; }
    .screenWraper#first .klassikaLogoWraper {
      width: 100vw;
      display: flex;
      justify-content: center;
      margin-top: 210px; }
    .screenWraper#first .klassikaLogo {
      background-image: url("../../images/logo.svg");
      width: 1110px;
      height: 247px;
      background-size: contain;
      background-repeat: no-repeat; }
    .screenWraper#first .violinLogo {
      background-image: url("../../images/violin.png");
      width: 207px;
      height: 547px;
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      margin-top: -100px;
      margin-left: 220px; }
    .screenWraper#first .textBlock {
      width: 540px;
      margin-top: 140px;
      margin-left: 170px; }
  .screenWraper#second .contentWraper {
    width: 80vw;
    display: flex;
    justify-content: space-between; }
  .screenWraper#second .figuresWraper {
    margin-left: 100px; }
    .screenWraper#second .figuresWraper #yellow {
      background-image: url("../../images/oval-yellow.svg"); }
    .screenWraper#second .figuresWraper #festival {
      margin-top: -450px;
      margin-left: 30px;
      background-image: url("../../images/festival.png");
      -webkit-mask-image: url("../../images/mask-1.svg");
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-size: 100%; }
  .screenWraper#second .textBlock {
    width: 546px; }
  .screenWraper#third h1 {
    width: 100vw;
    text-align: center; }
  .screenWraper#third p {
    width: 280px; }
  .screenWraper#third .middleSection {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    width: 77.7vw;
    margin-left: 11.1vw; }
    .screenWraper#third .middleSection p {
      margin-top: 150px; }
    .screenWraper#third .middleSection #blue {
      background-image: url("../../images/oval-blue.svg"); }
    .screenWraper#third .middleSection #trambon {
      background-image: url("../../images/trambon.png");
      width: 360px;
      height: 470px;
      margin-top: -420px;
      margin-left: 50px; }
  .screenWraper#third .lastPWraper {
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-top: 70px; }
  .screenWraper#fourth .contentWraper {
    display: flex;
    justify-content: space-between;
    width: 88vw; }
  .screenWraper#fourth .textBlocks {
    width: 700px;
    margin-left: 170px; }
    .screenWraper#fourth .textBlocks .textBlocksRow {
      display: flex;
      justify-content: space-between;
      margin-top: 60px; }
      .screenWraper#fourth .textBlocks .textBlocksRow .textBlock {
        width: 280px; }
  .screenWraper#fourth #trumpet {
    background-image: url("../../images/trumpet.png");
    width: 240px;
    height: 345px;
    margin-top: 100px; }
  .screenWraper#fifth .contentWraper {
    margin-left: 170px; }
  .screenWraper#fifth .contentBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1100px;
    margin-bottom: 100px; }
    .screenWraper#fifth .contentBlock .figuresBlock #oval {
      background-image: url("../../images/oval-pink.svg");
      width: 400px;
      height: 400px;
      background-size: contain;
      background-repeat: no-repeat; }
    .screenWraper#fifth .contentBlock .figuresBlock #photo {
      margin-top: -350px;
      margin-left: 50px;
      background-image: url("../../images/festival-2.png");
      -webkit-mask-image: url("../../images/mask-2.svg");
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-size: 100%; }
    .screenWraper#fifth .contentBlock .textBlock {
      width: 545px; }
  .screenWraper#fifth .schedule {
    width: 75vw;
    display: flex;
    justify-content: space-between; }
    .screenWraper#fifth .schedule h2 {
      margin-top: 20px; }
    .screenWraper#fifth .schedule .textBlock {
      width: 280px; }
  .screenWraper#musicians {
    margin-bottom: 200px; }
    .screenWraper#musicians h1 {
      width: 100vw;
      display: flex;
      justify-content: center; }
    .screenWraper#musicians .chevron {
      width: 30px;
      height: 57px;
      background-image: url("../../images/chevron.svg");
      background-size: contain;
      background-repeat: no-repeat;
      cursor: pointer; }
      .screenWraper#musicians .chevron#left {
        transform: rotate(180deg); }
    .screenWraper#musicians .musiciansGalleryWraper {
      margin-left: 5%;
      margin-top: 100px;
      width: 90%;
      display: flex;
      justify-content: space-between;
      align-items: center; }
    .screenWraper#musicians .musiciansGallery {
      width: 1080px;
      display: flex;
      justify-content: space-between;
      overflow: hidden; }
      .screenWraper#musicians .musiciansGallery .musicianBlock {
        min-width: 280px;
        margin-right: 120px; }
        .screenWraper#musicians .musiciansGallery .musicianBlock .avatarWraper {
          width: 60%;
          display: flex;
          justify-content: center; }
        .screenWraper#musicians .musiciansGallery .musicianBlock #avatar {
          width: 60px;
          height: 60px;
          background-image: url("../../images/festival.png");
          background-size: cover;
          -webkit-mask-image: url("../../images/avatar-mask.svg");
          margin-bottom: 20px; }
  .screenWraper#footer {
    background: #2F6BF2;
    padding-top: 0; }
    .screenWraper#footer p, .screenWraper#footer a {
      font-family: 'ProximaNova-Regular';
      font-weight: 100;
      font-size: 17px;
      color: #FFFFFF;
      line-height: 24px;
      width: 215px; }
    .screenWraper#footer .contentWraper {
      width: 1100px;
      margin-left: 170px;
      padding-top: 60px;
      padding-bottom: 60px; }
    .screenWraper#footer .partnersWraper {
      display: flex;
      justify-content: space-between;
      align-items: flex-start; }
      .screenWraper#footer .partnersWraper .partnersLogos {
        width: 170px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap; }
        .screenWraper#footer .partnersWraper .partnersLogos .logo {
          background-image: url("../../images/partner1.svg");
          background-size: contain;
          background-repeat: no-repeat;
          width: 66px;
          height: 24px;
          margin-bottom: 20px; }
    .screenWraper#footer .separator {
      width: 100%;
      background-color: white;
      height: 1px;
      margin-top: 60px;
      margin-bottom: 60px; }
    .screenWraper#footer .klassikaLogo {
      background-image: url("../../images/Klassika.png");
      width: 112px;
      height: 24px;
      background-size: contain;
      background-repeat: no-repeat;
      margin-bottom: 30px; }
    .screenWraper#footer .infoWraper {
      width: 100%;
      display: flex; }

.menubarWraper {
  width: 100vw;
  height: 130px;
  display: flex;
  justify-content: center;
  z-index: 1000;
  background-image: linear-gradient(-180deg, #FFFFFF 62%, rgba(255, 255, 255, 0.51) 90%, rgba(255, 255, 255, 0) 100%);
  position: fixed;
  top: 0; }

.menubar {
  width: 640px;
  margin-top: 40px; }
  .menubar .rubrics {
    width: 100%;
    display: flex;
    justify-content: space-between; }
    .menubar .rubrics p {
      font-family: 'ProximaNova-Regular';
      font-size: 12px;
      color: #212121;
      letter-spacing: 3.43px;
      text-transform: uppercase;
      cursor: pointer; }
  .menubar .underline {
    width: 100%;
    height: .5px;
    background-color: black;
    margin-top: 10px; }
  .menubar .selector {
    width: 111px;
    height: 7px;
    background-color: #FFEC00;
    margin-top: -1px;
    transition: .5s ease-in-out; }

.sideNavWraper {
  top: 0;
  height: 80vh;
  width: 117vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: -1000;
  margin-left: -124px; }

.rightNav, .leftNav {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: rotate(-90deg); }
  .rightNav p, .leftNav p {
    font-family: 'ProximaNova-Regular';
    font-size: 12px;
    color: #212121;
    letter-spacing: 3.43px;
    text-transform: uppercase; }
  .rightNav .rect, .leftNav .rect {
    width: 280px;
    height: 20px;
    background: #FFEC00;
    margin-top: 8px; }

.leftNav p {
  margin-top: 8px; }

.map {
  position: fixed;
  height: 600px;
  width: 328px;
  background-color: #fdeb0e;
  opacity: .3;
  filter: blur(8px);
  right: 0;
  top: 121px;
  cursor: url("../../images/cursor1.png"), auto;
  transition: .2s ease-in-out; }

.map:hover {
  width: 350px;
  height: 620px; }

.close {
  width: 50px;
  height: 50px;
  opacity: 0;
  position: fixed;
  z-index: 1000;
  margin: 90px 0 0 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center; }
  .close div {
    width: 2px;
    height: 40px;
    background-color: black; }
    .close div:first-of-type {
      transform: rotate(45deg); }
    .close div:last-of-type {
      transform: rotate(-45deg); }

.audio {
  display: none; }

.soundOnOff {
  background-image: url("../../images/icons/sound-off.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: fixed;
  top: 70px;
  left: 35px;
  width: 40px;
  height: 20px;
  cursor: pointer;
  opacity: .5; }
  .soundOnOff:hover {
    opacity: .8; }

/*# sourceMappingURL=style.css.map */
