@mixin h1 {
  font-family: 'BebasNeueBook';
  font-size: 80px;
  color: #212121;
}

@mixin h2 {
  font-family: 'PlayfairDisplay-Italic';
  font-size: 24px;
  color: #212121;
}

@mixin p {
  font-family: 'ProximaNova-Regular';
  font-size: 14px;
  color: #212121;
  line-height: 20px;
}

* {
  box-sizing: border-box;
}

body {
  // background-image: url('../../images/desktop1440.png');
  // opacity: .3;
  background-size: cover;
  background-repeat: no-repeat;
}

.screenWraper {
  // height: 100vh;
  width: 100vw;
  padding-top: 300px;

  h1 {
    @include h1;
  }

  h2 {
    @include h2;
  }

  p {
    margin-top: 20px;
    @include p;
  }

  .figure {
    width: 400px;
    height: 400px;
    background-size: cover;
  }

  &#first {
    padding-top: 0;

    .klassikaLogoWraper {
      width: 100vw;
      display: flex;
      justify-content: center;

      margin-top: 210px;
    }
    .klassikaLogo {
      background-image: url('../../images/logo.svg');
      width: 1110px;
      height: 247px;
      background-size: contain;
      background-repeat: no-repeat;
    }

    .violinLogo {
      background-image: url('../../images/violin.png');
      width: 207px;
      height: 547px;
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;

      margin-top: -100px;
      margin-left: 220px;
    }

    .textBlock {
      width: 540px;
      margin-top: 140px;
      margin-left: 170px;
    }
  }

  &#second {
    .contentWraper {
      width: 80vw;
      display: flex;
      justify-content: space-between;
    }

    .figuresWraper {
      margin-left: 100px;

      #yellow {
        background-image: url('../../images/oval-yellow.svg');
      }

      #festival {
        margin-top: -450px;
        margin-left: 30px;

        background-image: url('../../images/festival.png');
        -webkit-mask-image: url('../../images/mask-1.svg');
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-size: 100%;
      }
    }

    .textBlock {
      width: 546px;
    }
  }

  &#third {
    h1 {
      width: 100vw;
      text-align: center;
    }

    p {
      width: 280px;
    }

    .middleSection {
      display: flex;
      justify-content: space-between;

      margin-top: 70px;

      width: 77.7vw;
      margin-left: 11.1vw;

      p {
        margin-top: 150px;
      }

      #blue {
        background-image: url('../../images/oval-blue.svg');
      }

      #trambon {
        background-image: url('../../images/trambon.png');
        width: 360px;
        height: 470px;
        margin-top: -420px;
        margin-left: 50px;
      }
    }

    .lastPWraper {
      width: 100vw;
      display: flex;
      justify-content: center;
      margin-top: 70px;
    }
  }

  &#fourth {
    .contentWraper {
      display: flex;
      justify-content: space-between;
      width: 88vw;
    }

    .textBlocks {
      width: 700px;
      margin-left: 170px;

      .textBlocksRow {
        display: flex;
        justify-content: space-between;
        margin-top: 60px;

        .textBlock {
          width: 280px;
        }
      }
    }

    #trumpet {
      background-image: url('../../images/trumpet.png');
      width: 240px;
      height: 345px;

      margin-top: 100px;
    }
  }

  &#fifth {
    .contentWraper {
      margin-left: 170px;
    }

    .contentBlock {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 1100px;

      margin-bottom: 100px;

      .figuresBlock {
        #oval {
          background-image: url('../../images/oval-pink.svg');
          width: 400px;
          height: 400px;
          background-size: contain;
          background-repeat: no-repeat;
        }

        #photo {
          margin-top: -350px;
          margin-left: 50px;
          background-image: url('../../images/festival-2.png');
          -webkit-mask-image: url('../../images/mask-2.svg');
          -webkit-mask-repeat: no-repeat;
          -webkit-mask-size: 100%;
        }
      }

      .textBlock {
        width: 545px;
      }
    }

    .schedule {
      width: 75vw;
      display: flex;
      justify-content: space-between;

      h2 {
        margin-top: 20px;
      }

      .textBlock {
        width: 280px;
      }
    }
  }

  &#musicians {
    margin-bottom: 200px;

    h1 {
      width: 100vw;
      display: flex;
      justify-content: center;
    }

    .chevron {
      width: 30px;
      height: 57px;
      background-image: url('../../images/chevron.svg');
      background-size: contain;
      background-repeat: no-repeat;
      cursor: pointer;

      &#left {
        transform: rotate(180deg);
      }
    }

    .musiciansGalleryWraper {
      margin-left: 5%;
      margin-top: 100px;
      width: 90%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .musiciansGallery {
      width: 1080px;
      display: flex;
      justify-content: space-between;
      overflow: hidden;

      .musicianBlock {
        min-width: 280px;
        margin-right: 120px;

        .avatarWraper {
          width: 60%;
          display: flex;
          justify-content: center;
        }

        #avatar {
          width: 60px;
          height: 60px;
          background-image: url('../../images/festival.png');
          background-size: cover;
          -webkit-mask-image: url('../../images/avatar-mask.svg');
          margin-bottom: 20px;
        }
      }
    }
  }

  &#footer {
    background: #2F6BF2;
    padding-top: 0;

    p, a {
      font-family: 'ProximaNova-Regular';
      font-weight: 100;
      font-size: 17px;
      color: #FFFFFF;
      line-height: 24px;

      width: 215px;
    }

    .contentWraper {
      width: 1100px;
      margin-left: 170px;
      padding-top: 60px;
      padding-bottom: 60px;
    }

    .partnersWraper {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      .partnersLogos {
        width: 170px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .logo {
          background-image: url('../../images/partner1.svg');
          background-size: contain;
          background-repeat: no-repeat;
          width: 66px;
          height: 24px;

          margin-bottom: 20px;
        }
      }
    }

    .separator {
      width: 100%;
      background-color: white;
      height: 1px;

      margin-top: 60px;
      margin-bottom: 60px;
    }

    .klassikaLogo {
      background-image: url('../../images/Klassika.png');
      width: 112px;
      height: 24px;
      background-size: contain;
      background-repeat: no-repeat;
      margin-bottom: 30px;
    }

    .infoWraper {
      width: 100%;
      display: flex;

    }
  }
}
