* {
  box-sizing: border-box;
}

.firstScreen {
  width: 100vw;
  height: 826px;

  .firstScreenOval {
    width: 400px;
    height: 400px;
    filter: blur(10px);

    margin: 187px 0 0 174px;
    position: fixed;
    z-index: -100;

    animation: scale 2s cubic-bezier(.2, 0, 0, 1), spin 60s infinite;
  }

  @keyframes scale {
    0% {
      transform: scale(0);
      filter: blur(500px);
    }

    100% {
      transform: scale(1);
      filter: blur(10px);
    }
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    } to {
      transform: rotate(360deg);
    }
  }

  .violin {
    background-image: url(../../images/violin.png);
    width: 255px;
    height: 595px;
    background-size: contain;
    background-repeat: no-repeat;

    position: absolute;

    top: 119px;
    left: 178px;

    animation: appear 10s cubic-bezier(.2, 0, 0, 1);
  }

  @keyframes appear {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  .small {
    width: 160px;
    height: 160px;

    z-index: 100;

    position: absolute;
    top: 395px;
    left: -52px;
  }

  .logoText {
    margin: 200px 0 0 446px;
    position: absolute;

    .logo {
      transition: .5s ease-in-out;

      .name {
        font-family: "Proxima Nova";

        font-size: 97px;
        font-weight: 900;
      }

      animation: .5s cubic-bezier(.2, 0, 0, 1);

      @keyframes scrollup {
        0% {
          transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        }

        100% {
          transform: rotateX(0deg) rotateY(360deg) rotateZ(0deg);
        }
      }

      .subtitle {
        font-family: "Playfair Display";
        font-style: italic;

        font-size: 30px;

        animation: letterspacing 8s cubic-bezier(.2, 0, 0, 1);
        animation-fill-mode: backwards;
      }

      @keyframes letterspacing {
        0% {
          opacity: 0;
          // filter: blur(.8rem);
        }

        100% {
          opacity: 1;
          // filter: blur(0rem);s
        }
      }
    }

    .firstText {
      font-family: 'Proxima Nova';
      font-size: 17px;
      line-height: 24px;

      margin-top: 70px;

      width: 538px;

      animation: letterspacing 8s cubic-bezier(.2, 0, 0, 1);
      animation-fill-mode: backwards;
    }
  }
}

.secondScreen {
  width: 100vw;
  height: 826px;

  .textWrapper {
    margin: 0px 0 0 446px;
    position: absolute;

    .firstText {
      font-family: 'Proxima Nova';
      font-size: 17px;
      line-height: 24px;

      width: 538px;

      animation: letterspacing 8s cubic-bezier(.2, 0, 0, 1);
      animation-fill-mode: backwards;

      &:last-of-type {
        margin-top: 60px;
      }
    }
  }
}
