* {
  box-sizing: border-box;
}

.firstScreen {
  width: 100vw;
  height: 100vh;

  .ovalName {
    position: absolute;
    margin: 36px 0 0 80px;
    width: 788px;
    height: 746px;

    .firstScreenName {
      width: 474px;
      height: 138px;

      margin: 320px 0 0 100px;

      h1 {
        font-family: "Basis Grotesque Pro";

        color: white;
        font-size: 120px;
        font-weight: 600;
        text-align: center;

        animation: letterspacing 4s cubic-bezier(.2, 0, 0, 1);
        animation-fill-mode: backwards;
        transform: rotate(-90deg);
      }
    }

    @keyframes letterspacing {
      0% {
        filter: blur(.8rem);
      }

      70% {
        filter: blur(.3rem);
      }

      100% {
        filter: blur(0rem);
        // letter-spacing: 0rem;
      }
    }

    .firstScreenOval {
      background-image: url(../../images/oval1.svg);
      width: 788px;
      height: 746px;
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      filter: blur(10px);

      animation: scale 3s cubic-bezier(.2, 0, 0, 1), spin 6s ease-in-out infinite;
    }

    @keyframes scale {
      0% {
        transform: scale(0);
        filter: blur(500px);
      }

      100% {
        transform: scale(1);
        filter: blur(10px);
      }
    }

    // @keyframes spin {
    //   0% {
    //     transform: rotate(0deg) scale3d(1, 1, 1);;
    //     // transform: scale3d(1, 1, 1);
    //   }
    //
    //   50% {
    //     transform: rotate(180deg)  scale3d(.9, .9, .9);
    //   }
    //
    //   100% {
    //     transform: rotate(360deg)  scale3d(1, 1, 1);
    //   }
    // }
  }
}
